<html>
<head>
	<title>To-Do lists</title>
</head>
<body>
	<h1>{% block header_text %}{% endblock %}</h1>
	<form method="POST" action="{% block form_action %}{% endblock %}">
		<input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
		{% csrf_token %}
	</form>
	{% block table %}
	{% endblock %}
</body>
</html>
